
@media(max-width:600px){
  body{
      background-color:"mediumaquamarine";
  }
}

@media(min-width:601px) and (max-width:800px){
    body{background-color:"aquamarine";
  }
}

 @media(min-width:801px){
    body{background-color:"lightseagreen";
}
};

